<h1>Editer</h1>


<%= simple_form_for(@planet) do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :price_per_night %>
  <%= f.label :photo, class:"form-control label_photo mt-2 me-2" %>
  <%= f.input :photo, as: :file, class:"form-control me-2", label: false %>
  <%= f.submit 'Modifier ma planète', class: 'btn btn-ghost m-2' %>
<% end %>
