<h1>Planète : <%= @planet.name %></h1>

<h2>Informations :</h2>
<p><%= @planet.location %></p>
<p><%= @planet.user.email %></p>
<%= image_tag @planet.planet_photo, alt: @planet.name %>

  <% if policy(@planet).edit? %>
  <p><%= button_to "Editer cette planète", edit_planet_path %></p>
  <% end %>

  <p><%= button_to "Destroy this planet", @planet, method: :delete if policy(@planet).destroy? %></p>
<h2>Réserver</h2>

<%= simple_form_for [@planet, @booking] do |f| %>
  <%= f.input :ending_date %>
  <%= f.input :starting_date%>
  <%= f.input :number_of_visitors%>
  <%= f.submit %>


<% end %>
