<h1>Planète : <%= @planet.name %></h1>
<h2>Chez <%= @planet.user.first_name %> <%= @planet.user.last_name %></h2>

<h2>Informations :</h2>
<p>Distance depuis votre localisation : <%= @planet.location %></p>

<div class="card-reservation">
  <%= image_tag @planet.photo, alt: @planet.name, class: 'image_tag_reservation' %>
  <div class="card-reservation-infos">
    <h3>Détails :</h3>
    <p><%= @planet.description %></p>
    <p>Capacité : <%= @planet.capacity %></p>
    <p>Prix : <%= @planet.price_per_night %> € / nuit</p>
  </div>
</div>

<div class='mt-2 mb-2'>
<h2><strong> Commentaires</strong></h2>
</div>
<ul class="list-group">
  <% @planet.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %>
      <% if current_user == review.user  %>
       <p><%= link_to "Supprimer ce commentaire",
        review_path(review),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      <% end %></p>
  </li>
  <% end %>
</ul>
<br>


<div class='d-flex'>
    <% if policy(@planet).edit? %>
      <div class='btn btn-ghost m-2'>
        <p><%= link_to "Editer cette planète", edit_planet_path, class: 'clean_link' %></p>
      </div>
    <% end %>
      <% if policy(@planet).destroy? %>
    <div class='btn btn-ghost m-2'>
      <p><%= link_to "Supprimer cette planète", @planet, method: :delete, class: 'clean_link' %></p>
    </div>
    <% end %>
    <% if current_user && policy(@planet).comment? %>
      <div class='btn btn-ghost m-2'>
        <p><%= link_to "Ajouter un commentaire à cette planète", new_planet_review_path(@planet), class: 'clean_link' %></p>
      </div>
    <% end %>
</div>
<div mt-10>
<h2><strong>Réserver</strong></h2>
</div>


<%= simple_form_for [@planet, @booking], html: { data: { controller: 'flatpickr' } } do |f| %>
  <%= f.input :starting_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } }, label: 'Dates'%>
  <%= f.input :ending_date, as: :string, input_html: { class: 'd-none', data: { flatpickr_target: "endTime" } }, label: false %>
  <%= f.input :number_of_visitors%>
<div class='d-flex'>
  <div class='btn btn-ghost m-2'>
    <%= f.submit 'Réserver maintenant !'%>
  </div>
</div>
<% end %>
