<h1>Planète : <%= @planet.name %></h1>
<h2>Chez <%= @planet.user.first_name %> <%= @planet.user.last_name %></h2>

<h2>Informations :</h2>
<p>Distance depuis votre localisation : <%= @planet.location %></p>

<div class="card-reservation">
  <%= image_tag @planet.photo, alt: @planet.name, class: 'image_tag_reservation' %>
  <div class="card-reservation-infos">
    <h3>Détails :</h3>
    <p><%= @planet.description %></p>
    <p>Capacité : <%= @planet.capacity %></p>
    <p>Prix : <%= @planet.price_per_night %> € / nuit</p>
  </div>
</div>

<div class="btn" style = "display: flex">
  <% if policy(@planet).edit? %>
  <p><%= button_to "Editer cette planète", edit_planet_path %></p>
  <% end %>

  <p><%= button_to "Destroy this planet", @planet, method: :delete if policy(@planet).destroy? %></p>
</div>
<div mt-10>
<h2><strong>Réserver</strong></h2>
</div>


<%= simple_form_for [@planet, @booking], html: { data: { controller: 'flatpickr' } } do |f| %>
  <%= f.input :starting_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } }, label: 'Dates'%>
  <%= f.input :ending_date, as: :string, input_html: { class: 'd-none', data: { flatpickr_target: "endTime" } }, label: false %>
  <%= f.input :number_of_visitors%>
  <%= f.submit 'Réserver maintenant !'%>
<% end %>
