<h1><%= @planet.name %> chez <%= @planet.user.first_name %> <%= @planet.user.last_name %></h1>
<h2></h2>
<div class="row">
  <div class="col-8">
    <div class="card-reservation">
      <%= image_tag @planet.photo, alt: @planet.name, class: 'image_tag_reservation' %>
      <div class="card-reservation-infos">
        <h2>Informations :</h2>
        <p>Distance depuis votre localisation : <%= @planet.location %></p>
        <h2>Détails :</h2>
        <p><%= @planet.description %></p>
        <p>Capacité : <%= @planet.capacity %></p>
        <p>Prix : <%= number_with_delimiter(@planet.price_per_night, delimiter: " ",) %> € / nuit</p>
      </div>
      <div class='d-flex flex-column'>
          <div class=''>
            <% if policy(@planet).edit? %>
              <p><%= link_to "Editer cette planète", edit_planet_path, class: 'btn btn-ghost m-2' %></p>
            <% end %>
          </div>
          <div class=''>
            <% if policy(@planet).destroy? %>
            <p><%= link_to "Supprimer cette planète", @planet, method: :delete, class: 'btn btn-ghost m-2' %></p>
          <% end %>
          </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div mt-10>
      <h2><strong>Réserver</strong></h2>
    </div>
    <%= simple_form_for [@planet, @booking], html: { data: { controller: 'flatpickr' } } do |f| %>
      <%= f.input :starting_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } }, label: 'Dates'%>
      <%= f.input :ending_date, as: :string, input_html: { class: 'd-none', data: { flatpickr_target: "endTime" } }, label: false %>
      <%= f.input :number_of_visitors%>
      <div class='d-flex'>
        <div>
          <%= f.submit 'Réserver maintenant !', class: 'btn btn-ghost m-2'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
