<h1>Planète : <%= @planet.name %></h1>
<h2>Chez <%= @planet.user.first_name %> <%= @planet.user.last_name %></h2>

<h2>Informations :</h2>
<p>Distance depuis votre localisation : <%= @planet.location %></p>
<h3>Détails :</h3>
<p><%= @planet.description %></p>
<p>Capacité : <%= @planet.capacity %></p>
<p>Prix : <%= @planet.price_per_night %> € / nuit</p>

<%= image_tag @planet.photo, alt: @planet.name %>

  <% if policy(@planet).edit? %>
  <p><%= button_to "Editer cette planète", edit_planet_path %></p>
  <% end %>

  <p><%= button_to "Destroy this planet", @planet, method: :delete if policy(@planet).destroy? %></p>
<h2>Réserver</h2>

<%= simple_form_for [@planet, @booking] do |f| %>
  <%= f.input :ending_date %>
  <%= f.input :starting_date%>
  <%= f.input :number_of_visitors%>
  <%= f.submit %>
<% end %>
