
<h1>Bienvenue <%= current_user.first_name %> !</h1>
<div>
  <div>
  <h2>Mes planètes :</h2>
    <% if @planets.empty? %>
      <p>Vous n'avez pas de planète</p>
    <% else %>
      <div class="cards">
        <% @planets.each do |planet| %>
        <div class="card_planet btn-gradient-1">
          <%= link_to planet_path(planet) do %>
          <% if planet.photo.attached? %>
            <%= cl_image_tag planet.photo.key, class: "image_top_card" %>
          <% else %>
            <img class="default_photo" src="https://images.unsplash.com/photo-1545156521-77bd85671d30?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80" alt="">
          <% end %>
          <div class="card-info">
            <h2> <%= link_to planet.name, planet_path(planet), class: "planet-name"%></h2>
            <div class="planet-location">
              <p> <%= planet.location %></p>
            </div>
            <div class="price">
              <p> <%= number_with_delimiter(planet.price_per_night, delimiter: " ",) %> €/nuit </p>
            </div>
            <%# <div class=" text-justify planet-description"> %>
              <%# <p> <%= planet.description %>
            <%# </div> %>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <h2 class="mt-3">Mes demandes de réservations :</h2>
  <div>
    <% if @planet_bookings.empty? %>
      <p>Aucune demande de réservation à venir</p>
    <% else %>
      <% @planet_bookings.each do |planet_booking| %>
        <div class="card-reservation mb-2">
          <div class="photo-size">
          <% if planet_booking.planet.photo %>
            <%= cl_image_tag planet_booking.planet.photo.key, alt: planet_booking.planet.name, class: 'image_tag_reservation'  %>
          </div>
          <div class="card-reservation-infos">
            <h2 class="card-name-resa"><%= link_to planet_booking.planet.name, planet_path(planet_booking.planet), class: "planet-name" %></h2>
            <p>Nombre de voyageurs : <%= planet_booking.number_of_visitors %></p>
            <p>Date d'arrivée : <%= planet_booking.starting_date %></p>
            <p>Date de départ : <%= planet_booking.ending_date %></p>
            <% number_of_days = (planet_booking.ending_date - planet_booking.starting_date)%>
            <% total = number_of_days.to_i * planet_booking.planet.price_per_night%>
            <p>Total : <%=number_with_delimiter(total, delimiter: " ",)%> €</p>
            <p>Statut : <%= planet_booking.status%></p>
            <% else %>
            <img class="default_photo" src="https://images.unsplash.com/photo-1545156521-77bd85671d30?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80" alt="">
             <div class="card-reservation-infos">
            <h2 class="card-name-resa"><%= link_to planet_booking.planet.name, planet_path(planet_booking), class: "planet-name" %></h2>
            <p>Nombre de voyageurs : <%= planet_booking.number_of_visitors %></p>
            <p>Date d'arrivée : <%= planet_booking.starting_date %></p>
            <p>Date de départ : <%= planet_booking.ending_date %></p>
            <% number_of_days = (planet_booking.ending_date - planet_booking.starting_date)%>
            <% total = number_of_days.to_i * planet_booking.planet.price_per_night%>
            <p>Total : <%=number_with_delimiter(total, delimiter: " ",)%> €</p>
            <p>Statut : <%= planet_booking.status%></p>
          <% end %>
          </div>
            <div class="button-resa">
              <% if planet_booking.status == "En attente de confirmation"%>
                <%= link_to  'Accepter', accept_path(planet_booking), data:{turbo_method: :patch}, class: "btn btn-ghost mx-2" %>
                <%= link_to  'Refuser', decline_path(planet_booking), data:{turbo_method: :patch}, class: "btn btn-ghost mx-2" %>
              <% elsif planet_booking.status == "Réservation confirmée"%>
                  <%= link_to  'Refuser', decline_path(planet_booking), data:{turbo_method: :patch}, class: "btn btn-ghost mx-2" %>
              <% else planet_booking.status == "Réservation refusée"%>
                  <%= link_to  'Accepter', accept_path(planet_booking), data:{turbo_method: :patch}, class: "btn btn-ghost mx-2" %>
              <% end %>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <h2 class="mt-3">Mes réservations :</h2>
  <div>
    <% if @my_bookings.empty? %>
      <p>Aucune réservation à venir</p>
    <% else %>
        <% @my_bookings.each do |my_booking| %>
          <div class="card-reservation-mine mb-2">
            <%= cl_image_tag my_booking.planet.photo.key, alt: my_booking.planet.name, class: 'image_tag_reservation' %>
            <div class="card-reservation-infos">
              <h2 class="card-name-resa"><%= link_to my_booking.planet.name, planet_path(my_booking.planet), class: "planet-name" %></h2>
              <p>Lieu : <%= my_booking.planet.location %></p>
              <p>Nombre de voyageurs : <%= my_booking.number_of_visitors %></p>
              <p>Date d'arrivée : <%= my_booking.starting_date %></p>
              <p>Date de départ : <%= my_booking.ending_date %></p>
              <% number_of_days = (my_booking.ending_date - my_booking.starting_date)%>
              <% total = number_of_days.to_i * my_booking.planet.price_per_night%>
              <p>Total : <%=number_with_delimiter(total, delimiter: " ",)%> €</p>
              <p>Statut : <%= my_booking.status%></p>
            </div>
              <div class="button-resa">
                <%= link_to 'Annuler', planet_path(my_booking.planet), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ?"}, class: 'btn btn-ghost m-2' %>
              </div>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
