<h1>Bienvenue <%= current_user.first_name %> !</h1>
<h2>Mes planètes :</h2>
<% @planets.each do |planet| %>
  <h3>Planète : <%= link_to planet.name, planet_path(planet) %></h3>
  <p><%= planet.location %></p>
  <%= link_to 'Voir plus', planet_path(planet) %>
<% end %>

<div class="card-reservation">
    <% @planet_bookings.each do |planet_booking| %>
      <%= image_tag planet_booking.planet.photo, alt: planet_booking.planet.name, class: 'image_tag_reservation' %>
        <div class="card-reservation-infos">
          <h2>Mes demandes de réservations :</h2>
          <h3>Planète : <%= planet_booking.planet.name %></h3>
          <p>Nombre de visiteurs: <%= planet_booking.number_of_visitors %></p>
          <p>Date d'arrivée: <%= planet_booking.starting_date %></p>
          <p>Date de départ:<%= planet_booking.ending_date %></p>
          <p>Statut:<%= planet_booking.status%></p>
          <% if planet_booking.status == "En attente de confirmation"%>
            <%= link_to  'Accept', accept_path(planet_booking), data:{turbo_method: :patch} %>
            <%= link_to  'Decline', decline_path(planet_booking), data:{turbo_method: :patch} %>
          <% elsif planet_booking.status == "Réservation confirmée"%>
              <%= link_to  'Decline', decline_path(planet_booking), data:{turbo_method: :patch} %>
          <% else planet_booking.status == "Réservation refusée"%>
              <%= link_to  'Accept', accept_path(planet_booking), data:{turbo_method: :patch} %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="card-reservation">
  <h2>Mes réservations</h2>
  <% @my_bookings.each do |my_booking| %>
  <div class="card-reservation-infos">
    <h3>Planète : <%= my_booking.planet.name %></h3>
  <p><%= my_booking.planet.location %></p>
  <p><%= my_booking.number_of_visitors %></p>
  <p><%= my_booking.starting_date %></p>
  <p><%= my_booking.ending_date %></p>
  <% number_of_days = (my_booking.starting_date - my_booking.ending_date)%>
  <p>Total : <%=number_of_days.to_i * my_booking.planet.price_per_night%> €</p>
    <p><%= my_booking.status%></p>
    <%= link_to 'Annuler', planet_path(my_booking), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir annuler ?"}%>
    <% end %>
  </div>
</div>